page-pipeline {
    .position{
        top: 0%;
        display: flex;
        align-items: center;
        width: 90%;
        background: #ACD373;
        padding-left: 3px;
        font-size: 25px;
        color: white;
    }
    .choosePipe{
        position: fixed;
        z-index: 2;
        width: 100%;
        background: white;
    }
    .arrow{
        display: flex;
        width: 100%;
        position: fixed;
        top: 1%;
        height: 35px;
    }
    .rightArrow{
        font-size: 0px; line-height: 0%; width: 0px;
        border-top: 18px solid white;
        border-left: 50px solid #ACD373;
        border-bottom: 18px solid white;
    }
    .line{
        height: 1px;
        width: 100%;
        background: grey;
    }
    .prospect {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
        color: #5F4275;
    }
    .smallCircle {
        height: 10px;
        width: 10px;
        background: black;
        border-radius: 50%;
    }
}
