page-tabs{
    .actions{
        background-image: url('../assets/icon/FOOTERActions.png');
    }
    .tab-live {
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-image: url('../assets/icon/FOOTERActions.png');
    }
}