page-market-options{
    .method{
        display: flex;
        margin: 5px;
    }
    .box{
        height: 150px;
        width: 150px;
        border-radius: 20px;
        background: lightgrey;
    }
}