page-goals {
    .slide1{
        display: flex;
        justify-content: space-around;
        .slide-zoom{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
        }
        .profile{
            display: flex;
            align-items: center;
        }
        .profilePic{
            background: lightgrey;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .profileIcon{
            color: white;
            font-size: 130px;
        }
        .profileTitle{
            align-self: flex-start;
            margin: 15px;
        }
        .stars{
            height: 75px;
            width: 100%;
            background: lightblue;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
        }
        .donutChart{
            height: 175px !important;
            width: 175px !important;
        }
        .points{
            width: 175px;
            font-size: 45px;
            text-align: center;
        }
        .progressActive{
            background: lightgreen;
        }
        .progressBar{
            width: 95px;
            border: 5px solid lightgreen;
            border-radius: 15px;
            text-align: center;
            font-size: 20px;
            .diamond{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .emerald{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .saphire{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .ruby{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .pearl{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .slide2{
        .slide-zoom{
            height: 100%;
            overflow-y: scroll;
        }
        .goalsHeader{
            text-align: left;
            margin-bottom: 25px;
            .goalsTitle{
                font-size: 30px;
            }
            .goalsDueDate{
                font-size: 22px;
            }
        }
        .goalsList{
            .goal{
                margin-bottom: 15px;
                text-align: left;
                .goalTitle{
                    font-size: 22px;
                }
                .goalBar{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .bar{
                        width: 80%;
                        height: 20px;
                        background: lightgrey;
                        border-radius: 15px;
                    }
                    .progress{
                        border-radius: 15px;
                        height: 20px;
                        background: #ACD373;
                    }
                    .barProgress{
                        width: 20%;
                        text-align: center;
                    }
                }
            }
        }
    }
    .slide3{
        .slide-zoom{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .badges{
            height: 30%;
            width: 100%;
            background: lightgrey;
        }
        .slide3Bottom{
            display: flex;
        }
        .triangles{
            position: relative;
        }
        .chartLabels{

        }
        .label{
            display: flex;
            align-items: center;
            height: 40px;
        }
        .label2{
            transform: translateX(-23px);
        }
        .label3{
            transform: translateX(-46px);
        }
        .label4{
            transform: translateX(-69px);
        }
        .label5{
            transform: translateX(-92px);
        }
        .triangle1{
            margin: auto;
            height: 0;
            width: 225px;
            border-top: 40px solid lightgrey;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .inner1{
            height: 0;
            width: inherit;
            transform: translate(-23px,-40px);
            border-top: 40px solid red;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .triangle2{
            margin: auto;
            height: 0;
            width: 181px;
            border-top: 40px solid #bbbbbb;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .inner2{
            height: 0;
            width: inherit;
            transform: translate(-23px,-40px);
            border-top: 40px solid orange;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .triangle3{
            margin: auto;
            height: 0;
            width: 136px;
            border-top: 40px solid lightgrey;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .inner3{
            height: 0;
            transform: translate(-23px,-40px);
            width: inherit;
            border-top: 40px solid yellow;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .triangle4{
            margin: auto;
            height: 0;
            width: 92px;
            border-top: 40px solid #bbbbbb;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .inner4{
            height: 0;
            width: inherit;
            transform: translate(-23px,-40px);
            border-top: 40px solid green;
            border-right: 23px solid rgba(0,0,0,0);
            border-left: 23px solid rgba(0,0,0,0);
        }
        .triangle5{
            margin: auto;
            height: 0;
            width: 45px;
            border-top: 43px solid lightgrey;
            border-right: 24px solid rgba(0,0,0,0);
            border-left: 24px solid rgba(0,0,0,0);
        }
        .inner5{
            height: 0;
            transform: translate(-24px,-43px);
            border-top: 43px solid blue;
            border-right: 24px solid rgba(0,0,0,0);
            border-left: 24px solid rgba(0,0,0,0);
        }
    }
}
