page-goals {
    .slide1{
        display: flex;
        justify-content: space-around;
        .slide-zoom{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
        }
        .profile{
            display: flex;
            align-items: center;
        }
        .profilePic{
            background: lightgrey;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .profileIcon{
            color: white;
            font-size: 130px;
        }
        .profileTitle{
            align-self: flex-start;
            margin: 15px;
        }
        .stars{
            height: 75px;
            width: 100%;
            background: lightblue;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
        }
        .donutChart{
            height: 175px !important;
            width: 175px !important;
        }
        .points{
            width: 175px;
            font-size: 45px;
            text-align: center;
        }
        .progressActive{
            background: lightgreen;
        }
        .progressBar{
            width: 95px;
            border: 5px solid lightgreen;
            border-radius: 15px;
            text-align: center;
            font-size: 20px;
            .diamond{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .emerald{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .saphire{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .ruby{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid lightgrey;
            }
            .pearl{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .slide2{
        .slide-zoom{
            height: 100%;
            overflow-y: scroll;
        }
        .goalsHeader{
            text-align: left;
            margin-bottom: 25px;
            .goalsTitle{
                font-size: 30px;
            }
            .goalsDueDate{
                font-size: 22px;
            }
        }
        .goalsList{
            .goal{
                margin-bottom: 15px;
                text-align: left;
                .goalTitle{
                    font-size: 22px;
                }
                .goalBar{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .bar{
                        width: 80%;
                        height: 20px;
                        background: lightgrey;
                        border-radius: 15px;
                    }
                    .progress{
                        border-radius: 15px;
                        height: 20px;
                        background: #ACD373;
                    }
                    .barProgress{
                        width: 20%;
                        text-align: center;
                    }
                }
            }
        }
    }
    .slide3{

    }
}
