page-market-drip{
    .scroll-content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .emailBox{
        height: 45%;
        width: 45%;
        background: lightgrey;
    }
}