// http://ionicframework.com/docs/v2/theming/
.tabbar{
    height: 60px;
}
.toolbar-background {
    background-color: $purp;
}
.toolbar-title{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    font-family: 'hello-beautiful';
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 60px;
    color: white;
    margin-bottom: 5px;
}
.toolbar{
    padding-top: 30px !important;
    height: 80px;
}
.toolbar-ios ion-title{
        padding: 0 45px 0 45px;
        cursor: pointer;
}
.scroll-content {
   overflow: hidden;
}
.icons{
    cursor: pointer;
    padding: 0px 10px 0 10px;
    font-size: 30px;
    color: white;
}
.back-button{
    display: none !important;
}
.loginModal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: white;
    height: 100%;
    width: 100%;
}
// Icons
// .ion-ios-MYACTIONS,
// .ion-md-MYACTIONS,
// {
//   content: url(../assets/img/footer/FOOTERActions.png);
//   width: 24px;
//   height: 32px;
//   padding: 6px 4px 2px;
//   opacity: 0.9;
// }

// .ion-ios-MYGOALS,
// .ion-md-MYGOALS,
// {
//   content: url(../assets/img/footer/FOOTERGoals.png);
//   width: 24px;
//   height: 32px;
//   padding: 6px 4px 2px;
//   opacity: 0.9;
// }

// .ion-ios-MYPIPELINE,
// .ion-md-MYPIPELINE,
// {
//   content: url(../assets/img/footer/FOOTERPipeline.png);
//   width: 24px;
//   height: 32px;
//   padding: 6px 4px 2px;
//   opacity: 0.9;
// }

// .ion-ios-MYMARKETING,
// .ion-md-MYMARKETING,
// {
//   content: url(../assets/img/footer/FOOTERmarketing.png);
//   width: 24px;
//   height: 32px;
//   padding: 6px 4px 2px;
//   opacity: 0.9;
// }
// .ion-ios-MYMORE,
// .ion-md-MYMORE,
// .ion-ios-MYMORE:after,
// .ion-md-MYMORE:after,
// {
//   content: url(../assets/img/footer/FOOTERmore.png);
//   width: 24px;
//   height: 32px;
//   padding: 6px 4px 2px;
//   opacity: 0.9;
// }
#tab-t0-0{
        background-repeat: no-repeat;
        background-size: inherit;
        background-position-x: center;
        background-position-y: 2px;
        background-image: url('../assets/img/footer/FOOTERActions.png');
    }
    #tab-t0-1{
        background-repeat: no-repeat;
        background-size: inherit;
        background-position-x: center;
        background-position-y: 2px;
        background-image: url('../assets/img/footer/FOOTERGoals.png');
    }
    #tab-t0-2{
        background-repeat: no-repeat;
        background-size: inherit;
        background-position-x: center;
        background-position-y: 2px;
        background-image: url('../assets/img/footer/FOOTERPipeline.png');
    }
    #tab-t0-3{
        background-repeat: no-repeat;
        background-size: inherit;
        background-position-x: center;
        background-position-y: 2px;
        background-image: url('../assets/img/footer/FOOTERmarketing.png');
    }
    #tab-t0-4{
        background-repeat: no-repeat;
        background-size: inherit;
        background-position-x: center;
        background-position-y: 40%;
        background-image: url('../assets/img/footer/FOOTERmore.png');
    }


//FONTS

//Brandon
@font-face{
    font-family: "brandon-black";
    src: url('../assets/fonts/BrandonText/BrandonText-Black.otf') format('opentype');
}
@font-face{
    font-family: "brandon-black-italic";
    src: url('../assets/fonts/BrandonText/BrandonText-BlackItalic.otf') format('opentype');
}
@font-face{
    font-family: "brandon-bold";
    src: url('../assets/fonts/BrandonText/BrandonText-Bold.otf') format('opentype');
}
@font-face{
    font-family: "brandon-bold-italic";
    src: url('../assets/fonts/BrandonText/BrandonText-BoldItalic.otf') format('opentype');
}
@font-face{
    font-family: "brandon-light";
    src: url('../assets/fonts/BrandonText/BrandonText-Light.otf') format('opentype');
}
@font-face{
    font-family: "brandon-light-italic";
    src: url('../assets/fonts/BrandonText/BrandonText-LightItalic.otf') format('opentype');
}
@font-face{
    font-family: "brandon-medium";
    src: url('../assets/fonts/BrandonText/BrandonText-Medium.otf') format('opentype');
}
@font-face{
    font-family: "brandon-medium-italic";
    src: url('../assets/fonts/BrandonText/BrandonText-MediumItalic.otf') format('opentype');
}
@font-face{
    font-family: "brandon-regular";
    src: url('../assets/fonts/BrandonText/BrandonText-Regular.otf') format('opentype');
}
@font-face{
    font-family: "brandon-regular-italic";
    src: url('../assets/fonts/BrandonText/BrandonText-RegularItalic.otf') format('opentype');
}
@font-face{
    font-family: "brandon-thin";
    src: url('../assets/fonts/BrandonText/BrandonText-Thin.otf') format('opentype');
}
@font-face{
    font-family: "brandon-thin-italic";
    src: url('../assets/fonts/BrandonText/BrandonText-ThinItalic.otf') format('opentype');
}
//Hello Beautiful
@font-face{
    font-family: "hello-beautiful";
    src: url('../assets/fonts/HelloBeautiful/HelloBeautiful.otf') format('opentype');
}
@font-face{
    font-family: "hello-beautiful-alternates";
    src: url('../assets/fonts/HelloBeautiful/HelloBeautifulAlternates.ttf') format('truetype');
}
@font-face{
    font-family: "hello-beautiful-marker";
    src: url('../assets/fonts/HelloBeautiful/HelloBeautiful-Marker.otf') format('opentype');
}
@font-face{
    font-family: "hello-beautiful-swashes";
    src: url('../assets/fonts/HelloBeautiful/HelloBeautiful-Swashes.otf') format('opentype');
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
