page-specific-Prospect {
    .contactHeader {
        text-align: center;
        font-size: 20px;
        margin: 15px;
    }
    .topSpecific{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .top {
        width: 40%;
        margin: 15px 0 15px 0;
    }
    .swiper{
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    .position{
        width: 100%;
        background: lightgreen;
    }
    .swipeBoxes{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .leftSwipe{
        height: 95%;
        width: 50px;
        background: red;
    }
    .rightSwipe{
        height: 95%;
        width: 50px;
        background: blue;
    }
    .box{
        height: 250px;
        width: 95%;
        background: lightgrey;
        margin: auto;
        border-radius: 5px;
    }
    .topBox{
        display: flex;
        border-top-right-radius: 5px; 
        border-top-left-radius: 5px; 
        height: 50px;
        width: 100%;
    }
    .smallBox{
        height: 100%;
        width: 50%;
        background: lightgreen;
    }
    .left{
        border-top-left-radius: 5px; 
        border-right: 1px solid grey;
    }
    .right{
        border-top-right-radius: 5px;
        border-left: 1px solid grey;
    }
    .actionsAdd{
        position: fixed;
        right: 5%;
        bottom: 12%;
        font-size: 50px;
    }
    //new
    .action{
        display: flex;
    }
    .taskProspect{
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .dueDate{
        font-size: 18px;
        margin-left: 5px;
    }
    .taskNotes{
        color: grey;
    }
    .actionIcon{
        background: grey;
        height: 50px;
        width: 50px;
        font-size: 36px;
        align-self: center;
        text-align: center;
    }
    .statusCircle{
        border-radius: 50%;
        border: 2px solid black;
        height: 25px;
        width: 25px;
        align-self: center;
    }
    .spacing{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
}