page-specific-Prospect {
    .scroll-content{
        overflow-y: scroll;
    }
    .edit{
        font-size: 20px;
        margin-right: 8px; 
        color: white;
    }
    .contactHeader {
        font-family: 'Source Sans Pro', sans-serif;
        color: #5F4275;
        text-align: center;
        font-size: 20px;
        margin: 15px;
    }
    .topSpecific{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .top {
        font-size: 20px;
        width: 40%;
        margin: 15px 0 15px 0;
    }
    .pagerBar{
        display: flex;
        width: 100%;
        margin-top: 10px; 
        justify-content: center;
    }
    .pagerBox{
        display: flex;
    }
    .pagerFlag{
        height: 8px;
        width: 15px;
        background: #f1f1f1;
        border-top: 5px solid #f1f1f1;
        border-bottom: 5px solid #f1f1f1;
        border-left: 3px solid white;
    }
    .pagerArrow{
        height: 5px;
        width: 5px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-left: 5px solid #f1f1f1;
    }
    .activeFlag{
        height: 8px;
        width: 15px;
        background: #f1f1f1;
        border-top: 5px solid lightgreen;
        border-bottom: 5px solid lightgreen;
        border-left: 3px solid white;
    }
    .activeArrow{
        height: 5px;
        width: 5px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-left: 5px solid lightgreen;
    }
    .choosePipe{
        height: 20px;
    }
    .position{
        font-size: 23px;
        width: 100%;
        margin-bottom: 5px;
    }
    .box{
        min-height: 250px;
        width: 95%;
        background: lightgrey;
        margin: 2.5%;
        bottom: 0%;
        border-radius: 5px;
        position: relative;
        padding-bottom: 50px;
    }
    .topBox{
        display: flex;
        border-top-right-radius: 5px; 
        border-top-left-radius: 5px; 
        height: 50px;
        width: 100%;
    }
    .bottomBox{
    }
    .smallBox{
        height: 100%;
        width: 50%;
        background: lightgreen;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left{
        border-top-left-radius: 5px; 
        border-right: 3px solid grey;
    }
    .leftBox{
        background: #bfbebf;
    }
    .rightBox{
        background: #bfbebf;
    }
    .right{
        border-top-right-radius: 5px;
        border-left: 3px solid grey;
    }
    //new
    .action{
        display: flex;
    }
    .taskProspect{
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .dueDate{
        font-size: 18px;
        margin-left: 5px;
    }
    .taskNotes{
        color: grey;
    }
    .actionIcon{
        height: 50px;
        width: 50px;
        font-size: 36px;
        align-self: center;
        text-align: center;
    }
    .statusCircle{
        border-radius: 50%;
        flex-shrink: 0;
        border: 2px solid black;
        height: 25px;
        width: 25px;
        align-self: center;
    }
    .spacing{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .circleButton{
        position: absolute;
        bottom: 1%;
        left: 42%;
        background: lightgreen;
        border-radius: 50%;
        margin: 5px;
        height: 40px;
        width: 40px;
    }
}