page-actions {
    .dimmer{
        z-index: -50;
        position: fixed;
        height: 100%;
        width: 100%;
        transition: background-color 1s;
    }
    .showDim{
        z-index: 0;
        background-color: rgba(0, 0, 0, .5);
        transition: background-color 1s;
    }
    .scroll-content{
        overflow-y: scroll;
    }
    .actionsAdd{
        position: fixed;
        right: 5%;
        bottom: 12%;
        font-size: 50px;
    }
    .task{
        display: flex;
        margin: 10px 0 10px 0;
        transition: transform .5s cubic-bezier(1, 0, 1, .2);
    }
    .completeAnimation{
        transform: translateX(-350px);
    }
    .taskProspect{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 20px;
    }
    .taskNotes{
        color: grey;
    }
    .taskTask{
        height: 100%;
        width: 50px;
        font-size: 36px;
        color: grey;
        align-self: center;
        text-align: center;
    }
    .statusCircle{
        border-radius: 50%;
        border: 2.5px solid grey;
        height: 25px;
        width: 25px;
        align-self: center;
        margin-right: 10px;
    }
    .spacing{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
}