page-add-contact{
    input{
        height: 70px;
        margin: 2px;
        border: 3px solid lightgrey;
        padding: 10px;
        background: #EAEAEA;
    }
    .headerDiv{
        color: white;
    }
    .save, .cancel{
        width: 100px;
    }
    .title{
        text-align: center;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        margin: 25px 15px 15px 15px;
        font-size: 25px;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
    }
}